*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#col1 img{
border-radius:100% 0% 100% 0% / 0% 100% 0% 100%    ;
}
#header{
    /* background-color: black; */
}
.row{
    padding-top: 100px;
    flex-basis: 50%;
    margin: auto;

}
#col1 img{
   width: 100%;
}
#col2{
    /* flex-basis: 50%; */
    margin: auto;
    padding-right: 40px;
    padding: 10px;

}
#col2 h3{
    font-size: 50px;
    font-weight: bolder;
}
#btns{
    background-color: black;
    color: white;
    font-weight: bolder;
}
#btns:hover{
background-color: aliceblue;
color: red;
}
#title{
    font-size: 26px;
    font-weight: bold;
    
}
#cate{
    font-style: italic;
    font-size: 20px;
}
.post{
    font-size: 22px;
}
#quote2 h4{
    font-size: 26px;
    font-weight: bold;

}
#quote2 p{
    font-style: italic;
    font-size: 20px;
    padding: 10px 10px;

}
#forimg{
    height: 30vh;
    /* width: 100%; */
}
#qoutes{
    background-color: #faa12f;
    border-radius: 57% 43% 57% 43% / 100% 0% 100% 0% ;
}
/* #quoteid{
    background-color: #e58027
    ;

} */
#quote2{
   background-color: transparent;

}
#h3{
    font-size: 26px;
    font-weight: bolder;
}